{% extends 'km/base.html' %}
{% load static %}

{% block css %}
<link rel="stylesheet" href="{% static 'km/css/penelitian.css' %}">
{% endblock %}

{% block content %}

          <div class="col-3 d-staff-section">
            <h3 class="judul">Knowledge Management</h3>
              <div class="media">
                <img src="/media/{{staff.foto}}" class="mr-3 img-staff" alt="...">
                <div class="media-body ">
                  <h3 class="mb-auto">{{staff.nama}} </h4>
                  <h4>NIK <span>{{staff.NIK}}</span></h4>
                </div>
              </div>

              <div class="data-staff">
                <h4>Data</h4>

                <h6>E-mail</h6>
                <h5>{{staff.email}} <br>{{staff.email2}}</br></h5>

                <h6>Jabatan/Golongan</h6>
                <h5>{{staff.jabatan_struktural}}<br>{{staff.golongan_peneliti}}</h5>

                <h6>Fokus Area</h6>
                <h5>{{staff.peminatan}}</h5>

                <h6>Kepakaran</h6>
                <h5>{{staff.kepakaran}}</h5>

                <h6>Tanggal Bergabung</h6>
                <h5>{{staff.tanggal_bergabung}}</h5>

                <h6>Curriculum Vitae</h6>
                <h5><a href="/media/{{staff.cv}}">Download</a></h5>
              </div>

              <div class="d-staff-pendidikan">
                <h4>Pendidikan</h4>
                {% if staff.pendidikan_4 is not None %}
                  <h5>{{staff.pendidikan_4}} {{staff.jurusan_4}}</h5>
                {% elif staff.pendidikan_3 is not None %}
                  <h5>{{staff.pendidikan_3}} {{staff.jurusan_3}}</h5>
                {% elif staff.pendidikan_2 is not None %}
                  <h5>{{staff.pendidikan_2}} {{staff.jurusan_2}}</h5>
                {% else %}
                  <h5>{{staff.pendidikan_1}} {{staff.jurusan_1}}</h5>
                {% endif %}
              </div>
               
          </div>

          
          <div class="col-7 tabel-group ">
            <div class="row">
              <div class="col-9 search-group">
                <div class="input-group flex-nowrap search">
                  <div class="input-group-prepend">
                    <span class="input-group-text" id="addon-wrapping"><i class="fa fa-search" aria-hidden="true"></i></span>
                  </div>
                  <input type="text" class="form-control" placeholder="Search File" aria-label="" aria-describedby="addon-wrapping">
                </div>                  
              </div>
              <div class="col-3">
               {% if user.is_authenticated %}
                <img class="account float-left" src="{% static 'km/img/img-account.png' %}" alt="">
                  <div class="nama fleat-rigt">Hi {{user.first_name}}!</div>
                {% endif %}
              </div>
            </div>


            <ul class="nav nav-pills mb-3" id="pills-tab" role="tablist">
              <li class="nav-item">
                <a class="nav-link active" id="pills-penelitian-tab" data-toggle="pill" href="#pills-penelitian" role="tab" aria-controls="pills-penelitian" aria-selected="true">penelitian</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" id="pills-pnkt-kpsts-tab" data-toggle="pill" href="#pills-pnkt-kpsts" role="tab" aria-controls="pills-pnkt-kpsts" aria-selected="false">Peningkatan Kapasitas</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" id="pills-publikasi-tab" data-toggle="pill" href="#pills-publikasi" role="tab" aria-controls="pills-publikasi" aria-selected="false">publikasi</a>
              </li>
            </ul>


            <div class="tab-content" id="pills-tabContent">
              <div class="tab-pane fade show active" id="pills-penelitian" role="tabpanel" aria-labelledby="pills-penelitian-tab">
                <table id="penelitian" class="table table-striped radius-tabel" style="width:100%">
                <thead>
                    <tr>
                        <th>Tahun</th>
                        <th>Judul</th>
                        <th>Kategori</th>
                        <th>Sumber Dana</th>

                    </tr>
                </thead>
                <tbody>
                    {% for a in penelitian %}
                    <tr>
                        <td >{{a.thnmly}}</td>
                        <td class="tbl-keg"><a href="/km/penelitian/{{a.nama_kegiatan | slugify}}">{{a.nama_kegiatan}}</a></td>
                        <td>{{a.kategori}}</td>
                        <td>{% for B in a.sumber_dana.all %}
                            <li>{{B}}</li>
                        {% endfor %}</td>

                    </tr>
                    {% endfor %}
                </tbody>   
              </table> 
              </div>
              
              <div class="tab-pane fade" id="pills-pnkt-kpsts" role="tabpanel" aria-labelledby="pills-pnkt-kpsts-tab">
                <table id="pnkt-kpsts" class="table table-striped radius-tabel" style="width:100%">
                    <thead>
                    <tr>
                        <th>Tahun</th>
                        <th>Judul</th>
                        <th>Kategori</th>
                        <th>Penyelenggara</th>
                        <th>Peran</th>
                        <th>Laporan Kegiatan</th>
                        <th>Materi</th>
                    </tr>
                </thead>
                <tbody>
                    {% for a in kapasitas %}
                    <tr>
                        <td >{{a.thnmly}}</td>
                        <td class="tbl-keg">{{a.judul}}</a></td>
                        <td>{{a.kategori}}</td>
                        <td>{{a.penyelenggara}}</td>
                        <td>{{a.peran}}</td>
                        <td><a href="/media/{{a.laporan_kegiatan}}">Download</a></td>
                        <td><a href="/media/{{a.materi}}">Download</a></td>
                    </tr>
                    {% endfor %}
                </tbody>
                </table>
              </div>

              <div class="tab-pane fade" id="pills-publikasi" role="tabpanel" aria-labelledby="pills-publikasi-tab">
                <table id="publikasi" class="table table-striped radius-tabel" style="width:100%">
                    <thead>
                    <tr>
                        <th>Tahun</th>
                        <th>Judul</th>
                        <th>Kategori</th>
                        <th>Peran</th>
                        <th>Tingkat</th>
                        <th>Link Pendukung</th>

                    </tr>
                </thead>
                <tbody>
                    {% for a in publikasi %}
                    <tr>
                        <td >{{a.thn}}</td>
                        <td class="tbl-keg">{{a.judul}}</td>
                        <td>{{a.kategori}}</td>
                        <td>{{a.peran}}</td>
                        <td>{{a.tingkat}}</td>
                        <td><a href="{{a.link}}">Link</a></td>
                    </tr>
                    {% endfor %}
                </tbody>
                </table>
              </div>
            </div>

          
          </div>
{% endblock %}

{% block js %}
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    
    <!-- plugin datatables -->
    <script>
        $(document).ready(function() {
            $('#penelitian').DataTable();
        } );

        $(document).ready(function() {
            $('#pnkt-kpsts').DataTable();
        } );

        $(document).ready(function() {
            $('#publikasi').DataTable();
        } );
      </script>

      <script src="https://cdn.datatables.net/1.10.20/js/jquery.dataTables.min.js"></script>
      <script src="https://cdn.datatables.net/1.10.20/js/dataTables.bootstrap4.min.js"></script>

      <script>
          $(document).ready(function(){
              $(".check").click(function(){
                  $("#ceklis").prop("checked", true);
              });
              $(".uncheck").click(function(){
                  $("#ceklis").prop("checked", false);
              });
          });
        </script>
  {% endblock %}