{% extends 'km/base.html' %}
{% load static %}


{% block css %}
<link rel="stylesheet" href="km/css/penelitian.css">
{% endblock %}

{% block content %}
            <div class="col-3 filter-section">
            <h4>Knowledge Management</h4>
            <h3>Media</h3>

            <div class="clearfix">
              <div class="filter float-left"><img class="icon-filter" src="{% static 'km/icon/filter-results-button.svg' %}" alt="filter">Filter</div>
              <div  class="clear float-right"><button type="button" class="uncheck">Clear</button></div>

            </div>
            <hr class="batas">

            <div id="accordion" class="accordion">
              <div class="card mb-0">
                  <!-- Jenis Kegiatan -->
                  <div class="card-header collapsed" data-toggle="collapse" href="#collapseSatu">
                      <a class="card-title">
                          Kategori
                      </a>
                  </div>
                  <div id="collapseSatu" class="card-body collapse" data-parent="#accordion" >
                    <div class="form-check">
                      <label>
                        <input id="Research Report" type="checkbox" name="kategori" value="Research Report"> <span class="label-text">Research Report</span>
                      </label>
                    </div>
                    <div class="form-check">
                      <label>
                        <input id="Policy Brief" type="checkbox" name="kategori" value="Policy brief"> <span class="label-text">Policy Brief</span>
                      </label>
                    </div>
                    <div class="form-check">
                      <label>
                        <input id="Lembar Fakta" type="checkbox" name="kategori" value="Lembar fakta"> <span class="label-text">Lembar Fakta</span>
                      </label>
                    </div>
                    <div class="form-check">
                      <label>
                        <input id="Press Release" type="checkbox" name="kategori" value="Press Release"> <span class="label-text">Press Release</span>
                      </label>
                    </div>
                    <div class="form-check">
                      <label>
                        <input id="Infografis" type="checkbox" name="kategori" value="Infografis"> <span class="label-text">Infografis</span>
                      </label>
                    </div>
                    <div class="form-check">
                      <label>
                        <input id="HIV AIDS" type="checkbox" name="kategori" value="HIV AIDS"> <span class="label-text">HIV AIDS</span>
                      </label>
                    </div>
                    <div class="form-check">
                      <label>
                        <input id="NAPZA" type="checkbox" name="kategori" value="NAPZA"> <span class="label-text">NAPZA</span>
                      </label>
                    </div>
                    <div class="form-check">
                      <label>
                        <input id="Kesehatan Jiwa" type="checkbox" name="kategori" value="Kesehatan Jiwa"> <span class="label-text">Kesehatan Jiwa</span>
                      </label>
                    </div>
                    <div class="form-check">
                      <label>
                        <input id="Newsletter" type="checkbox" name="kategori" value="Newsletter"> <span class="label-text">Newsletter</span>
                      </label>
                    </div>
                    <div class="form-check">
                      <label>
                        <input id="Annual Report" type="checkbox" name="kategori" value="Annual Report"> <span class="label-text">Annual Report</span>
                      </label>
                    </div>
                    <div class="form-check">
                      <label>
                        <input id="Lainnya" type="checkbox" name="kategori" value="Lainnya"> <span class="label-text">Lainnya</span>
                      </label>
                    </div>
                  </div>
              </div>
            </div>
            <div class="searchPanes"></div>
            <hr class="batas">
          </div>


          <div class="col-7 tabel-group ">
            <div class="row">
              <div class="col-9 search-group">
                <div class="input-group flex-nowrap search">
                  <div class="input-group-prepend">
                    <span class="input-group-text" id="addon-wrapping"><i class="fa fa-search" aria-hidden="true"></i></span>
                  </div>
                  <input type="text" class="form-control" placeholder="Search File" aria-label="" aria-describedby="addon-wrapping">
                </div>
              </div>
              <div class="col-3">
                {% if user.is_authenticated %}
                <img class="account float-left" src="{% static 'km/img/img-account.png' %}" alt="">
                  <div class="nama fleat-rigt">Hi {{user.username}}!</div>
                {% endif %}
              </div>
            </div>
            <table id="media" class="table table-striped radius-tabel" style="width:100%">
              <thead>
                  <tr>
                      <th>Judul</th>
                      <th>Kategori</th>
                      <th>Sumber</th>
                      <th>Tahun</th>
                  </tr>
              </thead>
              <tbody>
                {% for b in A %}
                  <tr>
                      <td class="tbl-keg" ><a href="/media/{{b.file}}">{{ b.judul }}</a></td>
                      <td>{{ b.kategori }}</td>
                      <td>{{ b.sumber }}</td>
                      <td>{{ b.thn }}</td>
                  </tr>
                {% endfor %}

              </tbody>
          </table>
          </div>
        </div>
      </div>
    </div>

{% endblock %}


{% block js %}
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <script src="js/dataTables.searchPane.min.js"></script>

    <script>

      $(document).ready(function() {
          $('#penelitian').DataTable();
      } );

      // deklarasi untuk checkbox
     $(document).ready(function(){
       var tabel = $('#media').DataTable();

       $('input:checkbox').on('change',function(){
         var kategori = $('input:checkbox[name="kategori"]:checked').map(function(){
          return '^' + this.value +'$';
         }).get().join('|');

        //  filter kolomm ke 1
        tabel.column(1).search(kategori,true,false,false).draw(false);
       });
     }) ;



    </script>

     <script src="https://cdn.datatables.net/1.10.20/js/jquery.dataTables.min.js"></script>
     <script src="https://cdn.datatables.net/1.10.20/js/dataTables.bootstrap4.min.js"></script>
{% endblock %}