{% extends 'km/base.html' %}
{% load static %}

{% block css %}
<link rel="stylesheet" href="{% static 'km/css/penelitian.css' %}">
{% endblock %}

{% block content %}

            

          <div class="col-3 filter-section">
            <h4>Knowledge Management</h4>
            <h3>Profil & Dokumen Penelitian</h3>


            <div class="p-info">

              <h4>{{ A.nama_kegiatan }}</h4>
              <hr class="batas"> 

              <h6>Status</h6>
              <h5>{{A.status}}</h5>

              <h6>Kategori Kegiatan</h6>
              <h5>{{A.kategori}}</h5>

              <h6>Tanggal Mulai</h6>
              <h5>{{A.pmulai}}</h5>

              <h6>Tanggal Berakhir</h6>
              <h5>{{A.pselesai}}</h5>

              <h6>Sumber Dana</h6>
              <h5>{% for B in A.sumber_dana.all %}
                    {{B}}<br>
                 {% endfor %}
              </h5>

              <h6>Mata Uang/Nominal</h6>
              <h5>{{A.mata_uang}} {{A.nominal}}</h5>

              <h6>Principal Investigator</h6>
              <h5><a href="/km/staff/{{A.principal_investigator | slugify}}">{{A.principal_investigator}}</a></h5>

              <h6>PIC/Study Coordinator</h6>
              <h5><a href="/km/staff/{{A.PIC | slugify}}">{{A.PIC}}</a></h5>

              <h6>Tim Peneliti</h6>
              <h5>{% for A in A.tim.all %}
                  <a href="/km/staff/{{A | slugify}}">{{A}}</a><br>
                  {% endfor %}
              </h5>
              <hr class="batas">
            </div>      
          </div>

          
          <div class="col-7 tabel-group ">
            <div class="row">
              <div class="col-9 search-group">
                <form method="GET" class="search" action="/KM/cari/">
                  <div class="input-group flex-nowrap search">
                    <div class="input-group-prepend">
                      <span class="input-group-text" id="addon-wrapping" ><i class="fa fa-search" aria-hidden="true"></i></span>
                    </div>
                    <input type="text" name="q" class="form-control" placeholder="Search File" aria-label="" aria-describedby="addon-wrapping">
                  </div>
                </form>
              </div>
              <div class="col-3">
                {% if user.is_authenticated %}
                <img class="account float-left" src="/media/{{user.avatar}}" alt="">
                  <div class="nama fleat-rigt">Hi {{user.first_name}}!</div>
                {% endif %}
              </div>
            </div>

            <table id="penelitian" class="table table-striped radius-tabel" style="width:100%">
              <thead>
                  <tr>
                      <th>Kategori Dokumen</th>
                      <th>Judul Dokumen</th>
                      <th>Tanggal</th>
                      <th>Download</th>
                  </tr>
              </thead>
              <tbody>
              {% for A in Dokumen %}
                  <tr>
                      <td class="tbl-keg" >{{ A.Kategori }}</td>
                      <td>{{ A.Judul }}</td>
                      <td>{{A.tanggal}}</td>
                      <td><a href="/media/{{A.dokumen}}">Download</a></td>
                  </tr>
              {% endfor %}
              </tbody>   
          </table>
          </div>
{% endblock %}

{% block js %}
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

    <!-- plugin datatables -->
    <script>
        $(document).ready(function() {
            $('#penelitian').DataTable();
        } );
      </script>
      <script src="https://cdn.datatables.net/1.10.20/js/jquery.dataTables.min.js"></script>
      <script src="https://cdn.datatables.net/1.10.20/js/dataTables.bootstrap4.min.js"></script>

      <script>
          $(document).ready(function(){
              $(".check").click(function(){
                  $("#ceklis").prop("checked", true);
              });
              $(".uncheck").click(function(){
                  $("#ceklis").prop("checked", false);
              });
          });
        </script>

{% endblock %}