{% extends 'web/base.html' %}
{% load static %}

{% block css %}
<link href="{% static 'web/css/aktivitas.css' %}" rel="stylesheet">
{% endblock %}


{% block content %}
    <!-- landing -->
    <div class="jumbotron">
        <div class="container">
          <h1 class="display-4 fsb">Kegiatan Kami</h1>
        </div>
    </div>
    <!-- tutup landing -->

    <section class="aktivitas" id="aktivitas">

            <div class="container">
                <div class="row justify-content-start">
                    <div class="col-md-2 col-6">
                        <div class="card">
                         <img src="{% static 'web/icon/kegiatan_kami_penelitian_02-01.svg' %}" class="card-img-top" alt="...">
                         <div class="card-body">
                             <h6><a href="{% url 'dokumentasi-penelitian' %}" class="card-title ">penelitian</a></h6>
                           <p class="card-text f-12 f-os">Penelitian yang telah dan sedang dilaksanakan berfokus pada penelitian kebijakan, penelitian operasional/implementasi, penelitian bio-medis, serta penelitian sosial-perilaku yang terkait HIV AIDS, TB, kekerasan terhadap perempuan dan kelompok marjinal, manajemen pelayanan kesehatan, peran organisasi masyarakat sipil dalam sektor kesehatan dan sistem kesehatan.</p>
                           <ul class="f-12 f-os" style="color: whitesmoke">
                               <li><a href="{% url 'dokumentasi-penelitian' %}" style="text-decoration: none; color: whitesmoke">Berita Penelitian</a></li>
                               <li><a href="{% url 'pustaka-penelitian' %}" style="text-decoration: none; color: whitesmoke">Publikasi Penelitian</a></li>
                                   <li><a href="{% url 'pustaka-publikasi' %}" style="text-decoration: none; color: whitesmoke">Publikasi Jurnal</a></li>
                          </ul>
                         </div>
                       </div>
                    </div>
                    <div class="col-md-2 col-6">
                      <div class="card">
                        <img src="{% static 'web/icon/kegiatan_kami_advokasi_02.png' %}" class="card-img-top" alt="...">
                        <div class="card-body">
                            <h6><a href="{% url 'dokumentasi-advokasi' %}" class="card-title ">advokasi</a></h6>
                          <p class="card-text f-12 f-os">Dalam rangka memengaruhi dan mewujudkan kebijakan kesehatan yang inklusif, PPH UNIKA Atma Jaya berusaha memberi dukungan melalui rekomendasi yang dilandasi atas bukti-bukti ilmiah, serta jalinan kemitraan yang strategis dengan komunitas, pemangku kepentingan, dan pembuat kebijakan.</p>
                          <ul class="f-12 f-os" style="color: whitesmoke">
                              <li><a href="{% url 'dokumentasi-advokasi' %}" style="text-decoration: none; color: whitesmoke">Berita Advokasi</a></li>
                          </ul>
                        </div>
                      </div>
                    </div>
                    <div class="col-md-2 col-6">
                      <div class="card">
                        <img src="{% static 'web/icon/kegiatan_kami_kapasitas_01.png' %}"  class="card-img-top" alt="...">
                        <div class="card-body">
                            <h6><a href="{% url 'dokumentasi-peningkatan' %}" class="card-title ">peningkatan kapasitas</a></h6>
                          <p class="card-text f-12 f-os">Kegiatan ini ditujukan bagi peneliti dan penggiat HIV AIDS dalam meningkatkan kemampuan terkait topik yang relevan dengan bidang kerja mereka, serta meningkatkan pengetahuan, wawasan dan kesadaran masyarakat terkait dengan isu HIV AIDS. Kegiatan dilakukan dalam berbagai bentuk seperti diskusi, pelatihan, lokakarya, kursus online, dan bantuan teknis atau mentor. </p>
                          <ul class="f-12 f-os" style="color: whitesmoke">
                              <li><a href="{% url 'dokumentasi-peningkatan' %}" style="text-decoration: none; color: whitesmoke">Berita Peningkatan Kapasitas</a></li>
                              <li><a href="{% url 'event-list' %}" style="text-decoration: none; color: whitesmoke">Kegiatan Terkini</a></li>
                          </ul>
                        </div>
                      </div>
                    </div>
                    <div class="col-md-2 col-6">
                      <div class="card">
                        <img src="{% static 'web/icon/kegiatan_kami_komunitas_01.png' %}" class="card-img-top" alt="...">
                        <div class="card-body">
                            <h6><a href="{% url 'dokumentasi-pelayanan' %}" class="card-title ">pelayanan komunitas</a></h6>
                          <p class="card-text f-12 f-os">Sebagai bentuk pembelaan terhadap kelompok masyarakat yang tidak diuntungkan, PPH UNIKA Atma Jaya melakukan berbagai insiatif kegiatan pelayanan dan penguatan masyarakat yang terdampak HIV AIDS.</p>
                            <br>
                          <p class="card-text f-12 f-os"><a href="#" style="text-decoration: none; color: whitesmoke">Cari Tahu Lebih Lanjut!</a></p>
                          </ul>
                        </div>
                      </div>
                    </div>
                    <div class="col-md-2 col-6">
                      <div class="card">
                        <img src="{% static 'web/icon/7566_2.png' %}" class="card-img-top" alt="...">
                        <div class="card-body">
                            <h6><a href="{% url 'dokumentasi-pelayanan' %}" class="card-title ">research fellowship</a></h6>
                          <p class="card-text f-12 f-os">PPH Unika Atma Jaya membuka kesempatan belajar dan mengembangkan diri untuk mahasiswa (undergraduate dll.) dalam bidang penelitian dan juga pelayanan komunitas terkait isu HIV AIDS dan kesehatan jiwa</p>
                            <p class="card-text f-12 f-os"><a href="#" style="text-decoration: none; color: whitesmoke">Cari Tahu Lebih Lanjut!</a></p>
                        </div>
                      </div>
                    </div>
                  </div>
            </div>

    </section>
{% endblock %}
