{% extends 'web/base.html' %}
{% load static %}


{% block css %}
<link href="{% static 'web/css/dokumentasi.css' %}" rel="stylesheet">
{% endblock %}


{% block content %}
    <section id="dokumentasi">
        <div class="container">
            <div class="row">
                <div class="col">
                    <div class="clearfix">
                        <h3 class="float-left f-40 f-bt fsb">Artikel</h3>
                        <nav aria-label="breadcrumb">
                            <ol class="breadcrumb float-right">
                               <li class="breadcrumb-item f-os f-at f-9"><a href="{% url 'home-web' %}">Home</a></li>
                               <li class="breadcrumb-item f-os f-at f-9"><a href="{% url 'artikel-list' %}">Berita</a></li>
                               <li class="breadcrumb-item f-os f-at f-9 active" aria-current="page">Artikel</li>
                            </ol>
                        </nav>
                    </div>
                </div>
            </div><hr class="batas">
        </div>
    </section>

        <!-- katagori urutan dropdown -->
    <!--section>
        <div class="container">
            <div class="row justify-content-between">
                <div class="col">
                    <div class="clearfix">
                        <div class="btn-group float-left">
                            <button class="btn btn-default dropdown-toggle f-am" type="button" id="tekan" data-toggle="dropdown" aria-haspopup="true"
                                    aria-expanded="false">
                                        Urutkan <i class="fa fa-caret-down" aria-hidden="true"></i>
                            </button>
                            <div class="dropdown-menu" aria-labelledby="tekan">
                                <a class="dropdown-item f-am" href="#">Ascending</a>
                                <a class="dropdown-item f-am" href="#">Descending</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section-->
    <!-- tutup katagori urutan dropdown>


    <div class="container">
        <hr>
    </div-->

    <!-- artikel -->

    <section>
        <div class="container">
            {% for a in berita %}
            <div class="row">
                <div class="media"> 
                    <a class="d-flex" href="/berita/artikel/{{ a.judul |slugify }}">
                        <img class="align-seft-center mr-5 rounded img-fluid gambar" src="/media/{{ a.gambar }}" alt="">
                    </a>
                    <div class="media-body ml-5">
                        
                        <h3><a  class="judul" href="/berita/artikel/{{ a.judul |slugify }}">{{ a.judul }}</a></h3>
                        <ul class="list-inline">
                            <li class="list-inline-item penulis" >by {{ a.penulis }}</li>
                            <li class="list-inline-item tanggal">{{ a.thn }}</li>
                        </ul>
                        <div class="isi f-os">{{ a.isi | truncatechars:"250" |safe }}</div>
                        <ul class="list-inline">
                            <li class="list-inline-item " ><img src="{% static 'web/icon/tag-black-shape.svg' %}"></li>
                            {% for tag in a.tags.all %}
                            <li class="list-inline-item"><a class="tag" href="/tag/{{ tag.name | slugify}}">{{ tag.name }}</a></li>
                            {% endfor %}
                        </ul>                             
                    </div>
                </div>
            </div>
            <hr> <!-- pembatas --> 
            {% endfor %}           
        </div>
    </section>
    <!-- tutup artikel -->

    <!-- atur halaman -->
    <nav class="">
      <ul class="pagination justify-content-center f-os fossb">
          {% if berita.has_previous  %}
        <li class="page-item"><a class="page-link" href="?page={{ berita.previous_page_number }}">Prev</a></li>
          {% endif %}

        {% if berita.has_next %}
        <li class="page-item"><a class="page-link" href="?page={{ berita.next_page_number }}">Next</a></li>
        {% endif %}
      </ul>
    </nav>

    <div class="container">
        <hr>
    </div>

{% endblock %}