{% extends 'web/base.html' %}
{% load static %}
{% load crispy_forms_tags %}

{% block css %}
<link rel="stylesheet" href="{%static 'web/css/detail-artikel.css' %}">
<link rel="stylesheet" href="{%static 'web/css/copdetail.css' %}">
{% endblock %}

{% block meta %}
<meta property="og:title" content="{{object.judul}} ">
<meta property="og:url" content="{{ request.build_absolute_uri }}">
<meta property="og:site_name" content="PPH UNIKA Atma Jaya">
<meta property="og:image" content="https://pph.atmajaya.ac.id/media/media/images/web/homepage/tentangkami-landing_2DJ1HAc.jpg">
{% endblock %}


{% block content %}

    <!-- end header 2 -->
    <section class="artikel">
        <div class="container">
					<div class="row">
						<div class="col-md-7 offset-md-1">

                    <h1>{{object.judul}}</h1>
                      <hr class="space-title">
                      <div class="d-flex bd-highlight">
                        <div class="bd-highlight w-100">
                          <ul class="list-unstyled ">
                            <li class="list-item"><i><img src="{% static 'web/images/cop/autor.svg' %}" alt="" srcset="" style="width:14px"></i>
                                {% for tag in object.Author.all %}
                                    {{ tag.name }},
                                {% endfor %}
                            </li>{% if object.sumber %}
                            <li class="list-item"><i><img src="{% static 'web/images/cop/majalah.svg' %}" alt="" srcset="" style="width:14px"></i>{{ object.sumber }}</li>
                              {% else %}
                                {{empty}}
                              {% endif %}
                              {% if object.volume %}
                            <li class="list-item"><i><img src="{% static 'web/images/cop/newspaper.svg' %}" alt="" srcset="" style="width:14px"></i>{{ object.volume }}</li>
                              {% else %}
                                {{empty}}
                              {% endif %}
                            {% if object.url %}
                            <li class="list-item"><i><img src="{% static 'web/images/cop/website.svg' %}" alt="" srcset="" style="width:14px"></i><a href="{{ object.url }}">{{ object.url }}</a></li>
                            {% else %}
                                {{empty}}
                            {% endif %}
                            {% if object.tgl %}
                            <li class="list-item"><i><img src="{% static 'web/images/cop/date.svg' %}" alt="" srcset="" style="width:14px"></i>{{ object.tgl }}</li>
                            {% else %}
                                {{empty}}
                            {% endif %}
                            {% if object.DOI %}
                            <li class="list-item"><i><img src="{% static 'web/images/cop/id-card.svg' %}" alt="" srcset="" style="width:14px"></i>{{ object.DOI }}</li>
                            {% else %}
                                {{empty}}
                            {% endif %}
                            {% if object.doctype %}
                            <li class="list-item"><i><img src="{% static 'web/images/cop/document.svg' %}" alt="" srcset="" style="width:14px"></i>{{ object.doctype }}</li>
                              {% else %}
                                {{empty}}
                            {% endif %}
                          </ul>
                        </div>
                      </div>
                            <br>
                        {% if object.anotated %}
                        <h6 class="abstrak">ABSTRAK</h6>
                        <span>{{object.anotated |safe}}</span>
                        {% endif %}

            </div>


                        <div class="col-md-7 offset-md-1" style="padding-bottom: 30px;">
                        <ul class="list-unstyled list-inline icon-sosmed">
                        <li class="list-inline-item"><a href="http://www.facebook.com/share.php?u={{ request.build_absolute_uri }}"><img class="py-1" src="{% static 'web/icon/004-facebook-logo-button.svg' %}" alt=""></a></li>
                        <li class="list-inline-item"><a href="https://twitter.com/share?&url={{ request.build_absolute_uri }}"><img class="py-1" src="{% static 'web/icon/003-twitter-logo-button.svg' %}" alt=""></a></li>
                        <!--li class="list-inline-item"><a href="#modal-download" data-toggle="modal"><img class="py-1" src="{% static 'web/icon/008-down-arrow-in-a-circle.svg' %}" alt=""></a></li>
                        <li class="list-inline-item"><a class="copy_text"  data-toggle="tooltip" title="Copy to Clipboard" href="{{request.build_absolute_uri}}">
                            <img class="py-1" src="{% static 'web/icon/009-share.svg' %}" alt="Copy to clipboard"></a>
                        </li-->
                        </ul>
                         </div>
						<!-- END MATRIK -->
					</div>
            <hr>

        </div>
      </section>


{% endblock %}

{% block js %}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
<script src="https://unpkg.com/clipboard@2/dist/clipboard.min.js"></script>
<script type="text/javascript">
    var clipboard = new ClipboardJS('.btn');

    clipboard.on('success', function(e) {
        console.info('Action:', e.action);
        console.info('Text:', e.text);
        console.info('Trigger:', e.trigger);

        e.clearSelection();
    });

    clipboard.on('error', function(e) {
        console.error('Action:', e.action);
        console.error('Trigger:', e.trigger);
    });

</script>
{% endblock js %}
