{% extends 'web/base.html' %}
{% load static %}


{% block css %}
<link href="{% static 'web/css/kesehatan-jiwa.css' %}" rel="stylesheet">
<link href="{% static 'web/css/tables.css' %}" rel="stylesheet">
<link href="{% static 'web/css/datatable/datatables.min.css' %}" rel="stylesheet">
{% endblock %}


{% block content %}

    <!-- landing -->
    {% for a in Slide %}
    <div class="jumbotron" style="background-image: url('/media/{{ a.kesehatan }}');">
    
        <div class="container">
            <div class="row justify-content-center pt-5 landing">
                <div class="col-md-8 ">
                    <h1 class="f-80 fsb f-bm">Kesehatan Jiwa</h1>
                    <div class="f-15 f-os f-at">{{a.kesjiw_banner |safe}}

                    </div>

                </div>  
            </div>
        </div>
    </div>
    <!-- tutup landing -->

    <!-- sejarah kami -->
    <section>
        <div class="container">
            <div class="row">
                <div class="col-md-8">
                    <h3 class="f-36 fsb f-bm">Sejarah Kami</h3>
                    <div class="f-15 f-os f-at">{{a.kesjiw_history | safe}}</div>

                    <div class="f-18 fsb f-bm">{{a.kesjiw_history_highlight | safe}}</div>
                </div>
                <div class="col-md-4">
                    <img src="{% static 'web/images/kesehatanjiwa/gambarkesehatanjiwa.png' %}" alt="" srcset="">
                </div>
            </div>
        </div>
    </section>
    <!-- tutup sejarah -->
    {% endfor %}

    <hr>

    <section id="column-selectors">
    <div class="container">
                        <div class="col-12">
                            <div class="card">
                                <div class="card-header">
                                    <h4 class="card-title fssb">Layanan Kesehatan Jiwa Nasional</h4>
                                </div>
                                <div class="card-content">
                                    <div class="card-body card-dashboard">
                                        <p class="card-text f-os">
                                        </p>
                                        <br>
                                        <div class="table-responsive">
                                            <table class="table table-striped dataex-html5-selectors">
                                                <thead>
                                                    <tr class="fssb">
                                                        <th>Nama</th>
                                                        <th>Provinsi</th>
                                                        <th>Kota</th>
                                                        <th>Kategori</th>
                                                        <th>Keterangan</th>
                                                        <th>No. Telepon</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    {% for a in keswa %}
                                                    <tr class="f-os">
                                                        <td>{{ a.nama }}</td>
                                                        <td>{{ a.provinsi }}</td>
                                                        <td>{{ a.kota }}</td>
                                                        <td>{{ a.kategori }}</td>
                                                        <td>{{ a.alamat }}<hr>
                                                            {% if a.deskripsi %}
                                                                <i>{{ a.deskripsi |safe }}</i>
                                                            {% else %}
                                                                {{ empty }}
                                                            {% endif %}
                                                        </td>
                                                        <td>{{ a.telpon }}</td>
                                                    </tr>
                                                    {% endfor %}

                                                </tbody>

                                            </table>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
    </div>
    </section>

{% endblock %}

{% block js %}
    <script src="{% static 'web/js/datatables.js' %}"></script>
    <script src="{% static 'web/js/datatable/pdfmake.min.js' %}"></script>
    <script src="{% static 'web/js/datatable/vfs_fonts.js' %}"></script>
    <script src="{% static 'web/js/datatable/datatables.min.js' %}"></script>
    <script src="{% static 'web/js/datatable/datatables.buttons.min.js' %}"></script>
    <script src="{% static 'web/js/datatable/buttons.html5.min.js' %}"></script>
    <script src="{% static 'web/js/datatable/buttons.print.min.js' %}"></script>
    <script src="{% static 'web/js/datatable/buttons.bootstrap.min.js' %}"></script>
    <script src="{% static 'web/js/datatable/datatables.bootstrap4.min.js' %}"></script>
    <script src="https://cdn.datatables.net/1.10.20/js/dataTables.bootstrap4.min.js"></script>

{% endblock %}

