{% extends 'web/base.html' %}
{% load static %}


{% block css %}
<link href="{% static 'web/css/pustaka.css' %}" rel="stylesheet">
    <link rel="stylesheet" href="https://unpkg.com/swiper/css/swiper.css">
    <link rel="stylesheet" href="https://unpkg.com/swiper/css/swiper.min.css">

{% endblock %}


{% block content %}


    <!-- landing -->
    {% for a in Slide %}
    <div class="jumbotron" style="background-image: url('/media/{{ a.pustaka }}');">
    {% endfor %}
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    {% for a in Slide %}
                    <h1 class="f-k pt-5 mt-5 fsb f-80">Pustaka</h1>
                    <p class="text-white f-os f-14">{{a.pustaka_desc}}</p>
                    {%endfor%}
                </div>  
            </div>
        </div>
    </div>
    <!-- tutup landing -->

    <!-- sesi HIV  -->
    <section class="hiv">
        <div class="container">
            <div class="row">
                {%for b in Slide %}
                <div class="col-md-3">
                    <h3 class="f-40 fsb f-bt">{{b.pustaka_HIV_judul}}</h3>
                </div>
                <div class="col-md-6">
                    <p class="f-14 f-os f-at">{{b.pustaka_HIV_ket}}</p>
                </div>
                {% endfor %}
            </div>
            <hr>


            <div class="card-columns">
                {% for a in HIV %}
                <a href="/pustaka/{{a.judul | slugify}}" class="card text-white ">
                    <div class="card-body">
                        <h5 class="card-title f-14 fssb">{{ a.judul }}</h5>
                        <hr>
                        <p class="card-text mb-5 fsri">{{a.penulis}}</p>
                    </div>
                </a>
                {% endfor %}

            </div>
            <hr>
            <div class="clearfix">
                <a href="{% url 'pustaka-list' %}"><h5 class="float-left f-14 f-bm fssb pt-2">AYO PELAJARI LEBIH LANJUT TENTANG HIV AIDS. </h5><i class="fa fa-arrow-circle-o-right f-o pt-2 pl-1" aria-hidden="true"></i></a>
            </div>
        </div>
    </section>
    <!-- tutup hiv -->

    <!-- sesi Publikasi -->
    <section class="publikasi">
        <div class="container">
            <div class="row">
                    {%for c in Slide %}
                <div class="col-md-3">
                    <h3 class="f-40 fsb f-bt">Publikasi</h3>
                </div>
                <div class="col-md-6">
                    <p class="f-14 f-os f-at">{{c.pustaka_publikasi_ket}}</p>
                </div>
                {% endfor %}
            </div>
            <hr>
            <div class="card-columns">
                {% for a in Publikasi %}
                <a href="/pustaka/{{a.judul | slugify}}" class="card text-white ">
                    <div class="card-body">
                        <h5 class="card-title f-14 fssb">{{a.judul}}</h5>
                        <hr>
                        <p class="card-text mb-5 fsri">{{a.penulis}}</p>
                </div>
                </a>
                {%endfor%}
            </div>
            <h6 class="float-right"><a class ="f-os f-am" href="{% url 'pustaka-publikasi' %}"><h5 class="float-left f-14 f-bm fssb pt-2">View All</h5></a></h6>
            <br>
            <hr>
        </div>
    </section>
    <!-- tutp puublikasi -->

    <!-- sesi regulasi -->
    <section class="publikasi">
            <div class="container">
                <div class="row">
                        {%for c in Slide %}
                    <div class="col-md-3">
                        <h3 class="f-40 fsb f-bt">Regulasi</h3>
                    </div>
                    <div class="col-md-6">
                        <p class="f-14 f-os f-at">{{c.pustaka_regulasi_ket}}</p>
                    </div>
                    {% endfor %}
                </div>
                <hr>
                <div class="card-columns">
                    {% for a in Regulasi %}
                    <a href="/pustaka/{{a.judul | slugify}}" class="card text-white ">
                        <div class="card-body">
                            <h5 class="card-title f-14 fssb">{{a.judul}}</h5>
                            <hr>
                            <p class="card-text mb-5 fsri">{{a.penulis}}</p>
                    </div>
                    </a>
                    {% endfor %}
                </div>

                <h6 class="float-right"><a class ="f-os f-am" href="{% url 'pustaka-regulasi' %}"><h5 class="float-left f-14 f-bm fssb pt-2">View All</h5></a></h6>
                <br>
                <hr>
            </div>
        </section>
    <section class="publikasi">
            <div class="container">
                <div class="row">

                    <div class="col-md-3">
                        <h3 class="f-40 fsb f-bt">Penelitian</h3>
                    </div>
                    <div class="col-md-6">
                        <p class="f-14 f-os f-at">{{judul_penelitian}}</p>
                    </div>

                </div>
                <hr>
                <div class="card-columns">
                    {% for a in Penelitian %}
                    <a href="/pustaka/{{a.judul | slugify}}" class="card text-white ">
                        <div class="card-body">
                            <h5 class="card-title f-14 fssb">{{a.judul}}</h5>
                            <hr>
                            <p class="card-text mb-5 fsri">{{a.penulis}}</p>
                    </div>
                    </a>
                    {% endfor %}
                </div>

                <h6 class="float-right"><a class ="f-os f-am" href="{% url 'pustaka-penelitian' %}"><h5 class="float-left f-14 f-bm fssb pt-2">View All</h5></a></h6>
                <br>
                <hr>
            </div>
        </section>
    <section class="publikasi">
            <div class="container">
                <div class="row">

                    <div class="col-md-3">
                        <h3 class="f-40 fsb f-bt">Pelayanan Komunitas</h3>
                    </div>
                    <div class="col-md-6">
                        <p class="f-14 f-os f-at">{{judul_pelayanan}}</p>
                    </div>

                </div>
                <hr>
                <div class="card-columns">
                    {% for a in Pelayanan%}
                    <a href="/pustaka/{{a.judul | slugify}}" class="card text-white ">
                        <div class="card-body">
                            <h5 class="card-title f-14 fssb">{{a.judul}}</h5>
                            <hr>
                            <p class="card-text mb-5 fsri">{{a.penulis}}</p>
                    </div>
                    </a>
                    {% endfor %}
                </div>

                <h6 class="float-right"><a class ="f-os f-am" href="{% url 'pustaka-pelayanan' %}"><h5 class="float-left f-14 f-bm fssb pt-2">View All</h5></a></h6>
                <br>
                <hr>
            </div>
        </section>
    <section class="publikasi">
            <div class="container">
                <div class="row">

                    <div class="col-md-3">
                        <h3 class="f-40 fsb f-bt">Peningkatan Kapasitas</h3>
                    </div>
                    <div class="col-md-6">
                        <p class="f-14 f-os f-at">{{empty}}</p>
                    </div>

                </div>
                <hr>
                <div class="card-columns">
                    {% for a in Peningkatan%}
                    <a href="/pustaka/{{a.judul | slugify}}" class="card text-white ">
                        <div class="card-body">
                            <h5 class="card-title f-14 fssb">{{a.judul}}</h5>
                            <hr>
                            <p class="card-text mb-5 fsri">{{a.penulis}}</p>
                    </div>
                    </a>
                    {% endfor %}
                </div>

                <h6 class="float-right"><a class ="f-os f-am" href="{% url 'pustaka-peningkatan' %}"><h5 class="float-left f-14 f-bm fssb pt-2">View All</h5></a></h6>
                <br>
                <hr>
            </div>
        </section>
        <!-- tutup publikasi -->


{% endblock %}

